/* Background and container styles */
.login-container {
    height: 100vh;
    width: 800vh;
    background-color: #f80e0e;
  }
  
  .login-form {
    width: 90%;
    max-width: 400px;
    height: 550px;
    padding: 20px;
    border-radius: 0px;
    backdrop-filter: blur(10px);
    background: rgb(223, 218, 218);
    box-shadow: 0 8px 32px rgba(49, 48, 48, 0.8);
    text-align: center;
    color: #fff;
    border: 1px solid rgba(33, 32, 32, 0.2);
    position: fixed; 
    top: 5vh; 
    left: 5vh; 
    margin: 20px;
    
    
  }
  
  .login-title {
    margin-top: 60px;
    color: #2e2d2d;
    font-weight: bold;
    font-size: 24px;
  }
  
  /* Input fields and button styles */
  .login-input {
    margin-bottom: 15px;
    border-radius: 0px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
    outline: none;
  }
  
 #button{
    background-color: #f80e0e;
    width: 80px; 
    height: 50px; 
    border-radius: 100px; 
 }
 
 
  
  