.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("src/assets/contact.jpg");
  background-size: cover;
}
.contact .content {
  max-width: 800px;
  text-align: center;
}
.contact .content h2 {
  font-size: 36px;
  font-weight: 800;
  color: black;

}
.contact .content p {
  font-size: large;
  font-weight: 500;
  color: black;
}
.contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.contact-container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contact-container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
}
.contact-container .contactInfo .box .text h3{
  color: white;
  font-weight: 600;
}
.contact-container .contactInfo .box .text p{
  color:whitesmoke;
  font-weight: 600;
}
.contactForm {
  width: 40%;
  padding: 40px;
  background: #eef0f1;
  margin-left: 50px;
  border-radius: 20px;
}
.contactForm h2 {
  font-size: 30px;
  color: black;
  font-weight: 500;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
}

.contactForm .inputBox input[type="Submit"] {
  width: 100px;
  background:#007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.contactForm .inputBox textarea[type="textarea"] {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
}
